
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    margin-bottom: 30px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
  }
  
  
  .card .swiper img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
  }
  
  .card .content_wrap .txt_wrap h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #333;
  }
  
  .card .content_wrap .txt_wrap p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    word-break: break-word;
    margin-bottom: 15px;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
  }
  .card .content_wrap .txt_wrap p.ellipsed {
    cursor: pointer;
  }
  
  .card .content_wrap .txt_wrap span {
    font-size: 14px;
    color: #999;
  }

  .card .content_wrap .txt_wrap i {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    margin-bottom: 30px;
  }
  

  .card .content_wrap .txt_wrap i img {
    width: 30px;
    height: 30px;
  }

  .card .comment_wrap {
    background: #fff;
    z-index: 11;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    border-radius: 10px;
    padding: 50px;
    overflow: hidden;
    background: #fff;
    height: 500px;
    transform: translateX(-50%);
    max-width: 600px;
    margin: 0 auto;
    display: none;
  }

  .card .comment_wrap {

  }

  .card .comment_wrap .title_wrap h2 {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid #777;
    margin-bottom: 20px;
  }
  .card .comment_wrap .comment {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .card .comment_wrap .comment .comment_txt {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .card .comment_wrap .comment .comment_txt i {
    font-size: 14px;
    color: #999;
    font-weight: 300;
    white-space: nowrap;
  }
